In [1]:
from jira import JIRA

In [2]:
jiraOptions = {'server': "https://lakshaymittal0611.atlassian.net"}

In [3]:
jira = JIRA(options=jiraOptions, basic_auth=(
    "lakshaymittal0611@gmail.com", "ATATT3xFfGF0n3ZgEVvfk7qSMOEqyvnB39n6AFhvn_QAa5l7xiiIcEll6uYCpfsUvp5GBmtztTWx9pvweNY1sHTx7lhO0UuQgeotgqJeOiNIoCdV9Ag_zldahZYk53gMBKQ1GiDpi6OUb-2-kzUtkjga7NyR9ktB-AfeDzbeQiShIzUQJuyOBqo=C2330995"))

In [4]:
issue_data = []

In [5]:
import pandas as pd
for singleIssue in jira.search_issues(jql_str='project = KAN'):
   issue_data.append(
       {
           'Key': singleIssue.key,
        'Summary': singleIssue.fields.summary,
        'Reporter': singleIssue.fields.reporter.displayName ,
            'Assignee': singleIssue.fields.assignee , 
           'Status': singleIssue.fields.status , 
           'Due Date': singleIssue.fields.duedate
       }
   )

In [6]:
df1=pd.DataFrame(issue_data)

In [7]:
df1

     Key    Summary        Reporter        Assignee       Status    Due Date
0  KAN-4     footer  Lakshay Mittal     Ansh Khanna        To Do  2025-05-29
1  KAN-3   scroller  Lakshay Mittal     Ansh Khanna        To Do  2025-05-26
2  KAN-2     header  Lakshay Mittal  Lakshay Mittal        To Do  2025-05-14
3  KAN-1  home page  Lakshay Mittal            None  In Progress  2025-05-23

In [8]:
import time

In [9]:
time

In [10]:
from datetime import date
from datetime import datetime
today1 = pd.to_datetime(datetime.today().date())

today = date.today()
print(today)

2025-05-16

In [11]:
df1.describe()

          Key Summary        Reporter     Assignee Status    Due Date
count       4       4               4            3      4           4
unique      4       4               1            2      2           4
top     KAN-4  footer  Lakshay Mittal  Ansh Khanna  To Do  2025-05-29
freq        1       1               4            2      3           1

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Key       4 non-null      object
 1   Summary   4 non-null      object
 2   Reporter  4 non-null      object
 3   Assignee  3 non-null      object
 4   Status    4 non-null      object
 5   Due Date  4 non-null      object
dtypes: object(6)
memory usage: 324.0+ bytes

In [13]:
df1['Due Date']=pd.to_datetime(df1['Due Date'])

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Key       4 non-null      object
 1   Summary   4 non-null      object
 2   Reporter  4 non-null      object
 3   Assignee  3 non-null      object
 4   Status    4 non-null      object
 5   Due Date  4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 324.0+ bytes

In [15]:
df1['days remaining']=(df1['Due Date']-today1).dt.days

In [16]:
df1

,Key,Summary,Reporter,Assignee,Status,Due Date,days remaining
0,KAN-4,footer,Lakshay Mittal,Ansh Khanna,To Do,2025-05-29,13
1,KAN-3,scroller,Lakshay Mittal,Ansh Khanna,To Do,2025-05-26,10
2,KAN-2,header,Lakshay Mittal,Lakshay Mittal,To Do,2025-05-14,-2
3,KAN-1,home page,Lakshay Mittal,None,In Progress,2025-05-23,7

In [20]:
for index, row in df1.iterrows():
    if pd.notna(row['days remaining']) and row['days remaining'] > 0:
        print(pd.DataFrame(row))

                                  0
Key                           KAN-4
Summary                      footer
Reporter             Lakshay Mittal
Assignee                Ansh Khanna
Status                        To Do
Due Date        2025-05-29 00:00:00
days remaining                   13
                                  1
Key                           KAN-3
Summary                    scroller
Reporter             Lakshay Mittal
Assignee                Ansh Khanna
Status                        To Do
Due Date        2025-05-26 00:00:00
days remaining                   10
                                  3
Key                           KAN-1
Summary                   home page
Reporter             Lakshay Mittal
Assignee                       None
Status                  In Progress
Due Date        2025-05-23 00:00:00
days remaining                    7