In [1]:
import pandas as pd

In [2]:
import requests

In [3]:
url = f"https://lakshaymittal0611.atlassian.net/rest/api/2/search"

In [4]:
from requests.auth import HTTPBasicAuth

In [5]:
auth = HTTPBasicAuth(
    "lakshaymittal0611@gmail.com" , 
    "ATATT3xFfGF0n3ZgEVvfk7qSMOEqyvnB39n6AFhvn_QAa5l7xiiIcEll6uYCpfsUvp5GBmtztTWx9pvweNY1sHTx7lhO0UuQgeotgqJeOiNIoCdV9Ag_zldahZYk53gMBKQ1GiDpi6OUb-2-kzUtkjga7NyR9ktB-AfeDzbeQiShIzUQJuyOBqo=C2330995"
)

In [6]:
header={
"Accepts":"application/json"
}

In [7]:
import json

In [8]:
project_key="KAN"
params= {
     "jql": f"project={project_key}",
    "fields": "summary,status,priority,assignee,created,updated,duedate"
}

In [9]:
response= requests.get(url , headers=header , auth=auth , params=params)

In [10]:
df1 = pd.DataFrame(response.json())

In [11]:
data = response.json()
df = pd.json_normalize(data['issues'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 34 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   expand                                  4 non-null      object
 1   id                                      4 non-null      object
 2   self                                    4 non-null      object
 3   key                                     4 non-null      object
 4   fields.summary                          4 non-null      object
 5   fields.duedate                          4 non-null      object
 6   fields.created                          4 non-null      object
 7   fields.assignee.self                    3 non-null      object
 8   fields.assignee.accountId               3 non-null      object
 9   fields.assignee.avatarUrls.48x48        3 non-null      object
 10  fields.assignee.avatarUrls.24x24        3 non-null      object
 11  fields.assignee.avatarUrls.16x16        3 non-null      object
 12  fields.assignee.avatarUrls.32x32        3 non-null      object
 13  fields.assignee.displayName             3 non-null      object
 14  fields.assignee.active                  3 non-null      object
 15  fields.assignee.timeZone                3 non-null      object
 16  fields.assignee.accountType             3 non-null      object
 17  fields.priority.self                    4 non-null      object
 18  fields.priority.iconUrl                 4 non-null      object
 19  fields.priority.name                    4 non-null      object
 20  fields.priority.id                      4 non-null      object
 21  fields.updated                          4 non-null      object
 22  fields.status.self                      4 non-null      object
 23  fields.status.description               4 non-null      object
 24  fields.status.iconUrl                   4 non-null      object
 25  fields.status.name                      4 non-null      object
 26  fields.status.id                        4 non-null      object
 27  fields.status.statusCategory.self       4 non-null      object
 28  fields.status.statusCategory.id         4 non-null      int64
 29  fields.status.statusCategory.key        4 non-null      object
 30  fields.status.statusCategory.colorName  4 non-null      object
 31  fields.status.statusCategory.name       4 non-null      object
 32  fields.assignee.emailAddress            1 non-null      object
 33  fields.assignee                         0 non-null      float64
dtypes: float64(1), int64(1), object(32)
memory usage: 1.2+ KB

In [13]:
df['fields.assignee.displayName']

0       Ansh Khanna
1       Ansh Khanna
2    Lakshay Mittal
3               NaN
Name: fields.assignee.displayName, dtype: object

In [14]:
df.dropna(subset={'fields.assignee.displayName'}  , inplace=True)

In [15]:
df1=df[['id','key','fields.summary','fields.assignee.displayName','fields.status.name','fields.duedate','fields.created']]

In [16]:
from datetime import datetime
import time

In [17]:


today1 = pd.to_datetime(datetime.today().date())
print(today1)

2025-05-16 00:00:00

In [18]:
df1

,id,key,fields.summary,fields.assignee.displayName,fields.status.name,fields.duedate,fields.created
0,10003,KAN-4,footer,Ansh Khanna,To Do,2025-05-29,2025-05-15T17:58:29.399+0530
1,10002,KAN-3,scroller,Ansh Khanna,To Do,2025-05-26,2025-05-15T17:58:21.319+0530
2,10001,KAN-2,header,Lakshay Mittal,To Do,2025-05-14,2025-05-15T17:57:56.205+0530

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           3 non-null      object
 1   key                          3 non-null      object
 2   fields.summary               3 non-null      object
 3   fields.assignee.displayName  3 non-null      object
 4   fields.status.name           3 non-null      object
 5   fields.duedate               3 non-null      object
 6   fields.created               3 non-null      object
dtypes: object(7)
memory usage: 192.0+ bytes

In [20]:
df1['fields.duedate']=pd.to_datetime(df1['fields.duedate'])

C:\Users\BIT\AppData\Local\Temp\ipykernel_8888\1837998493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['fields.duedate']=pd.to_datetime(df1['fields.duedate'])

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           3 non-null      object
 1   key                          3 non-null      object
 2   fields.summary               3 non-null      object
 3   fields.assignee.displayName  3 non-null      object
 4   fields.status.name           3 non-null      object
 5   fields.duedate               3 non-null      datetime64[ns]
 6   fields.created               3 non-null      object
dtypes: datetime64[ns](1), object(6)
memory usage: 192.0+ bytes

In [22]:
df1['remaining_days']=(pd.to_datetime(df['fields.duedate'])-today1).dt.days

C:\Users\BIT\AppData\Local\Temp\ipykernel_8888\890102038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['remaining_days']=(pd.to_datetime(df['fields.duedate'])-today1).dt.days

In [23]:
df1

,id,key,fields.summary,fields.assignee.displayName,fields.status.name,fields.duedate,fields.created,remaining_days
0,10003,KAN-4,footer,Ansh Khanna,To Do,2025-05-29,2025-05-15T17:58:29.399+0530,13
1,10002,KAN-3,scroller,Ansh Khanna,To Do,2025-05-26,2025-05-15T17:58:21.319+0530,10
2,10001,KAN-2,header,Lakshay Mittal,To Do,2025-05-14,2025-05-15T17:57:56.205+0530,-2

In [24]:
df1

,id,key,fields.summary,fields.assignee.displayName,fields.status.name,fields.duedate,fields.created,remaining_days
0,10003,KAN-4,footer,Ansh Khanna,To Do,2025-05-29,2025-05-15T17:58:29.399+0530,13
1,10002,KAN-3,scroller,Ansh Khanna,To Do,2025-05-26,2025-05-15T17:58:21.319+0530,10
2,10001,KAN-2,header,Lakshay Mittal,To Do,2025-05-14,2025-05-15T17:57:56.205+0530,-2

Return the data frame that are not completed till while due date is gone

In [26]:
for i, col in df1.iterrows():
    if int(col['remaining_days']) < 0:
        print(col)

id                                                    10001
key                                                   KAN-2
fields.summary                                       header
fields.assignee.displayName                  Lakshay Mittal
fields.status.name                                    To Do
fields.duedate                          2025-05-14 00:00:00
fields.created                 2025-05-15T17:57:56.205+0530
remaining_days                                           -2
Name: 2, dtype: object

In [27]:
df1

,id,key,fields.summary,fields.assignee.displayName,fields.status.name,fields.duedate,fields.created,remaining_days
0,10003,KAN-4,footer,Ansh Khanna,To Do,2025-05-29,2025-05-15T17:58:29.399+0530,13
1,10002,KAN-3,scroller,Ansh Khanna,To Do,2025-05-26,2025-05-15T17:58:21.319+0530,10
2,10001,KAN-2,header,Lakshay Mittal,To Do,2025-05-14,2025-05-15T17:57:56.205+0530,-2

In [28]:
['id', 'key', 'fields.summary', 'fields.assignee.displayName', 'fields.status.name', 'fields.duedate', 'fields.created', 'remaining days']

['id',
 'key',
 'fields.summary',
 'fields.assignee.displayName',
 'fields.status.name',
 'fields.duedate',
 'fields.created',
 'remaining days']